.container
  .homepage-wrapper
    .headline
      %h1 Join the Cue.
      .row.justify-content-md-center
        .col-sm-8
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    .row.justify-content-md-center
      .host-button
        %button.btn.btn-dark Host Sign In
      .guest-button
        %button.btn.btn-light Guest Sign In
