.container
  .homepage-wrapper
    .headline
      %h1 Join the Cue.
      .row.justify-content-md-center
        .col-sm-8
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    .row.justify-content-md-center
      .host-button
        = button_to 'Host Sign In', '/auth/spotify', class: 'btn btn-dark'
      .guest-button
        = button_to 'Guest Sign In', root_path, class: 'btn btn-light'
