.headline {
    margin-bottom: 10px;
}
.headline h1 {
    color: #F4F4F4;
    font-size: 500%;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    color: #A5A5A5;
    font-size: 150%;
    text-align: center;
}

button {
    margin: 10px;
}
