a.navbar-brand {
  color: #F4F4F4;
  margin-right: 40px;
}

a {
  color: white;
}

.nav-item.active a{
  color: #016BC1;
}

a, a:hover, a:focus {
  text-decoration: none;
}

.nav-item{
  margin: 0 35px 0 35px;
}
